body{
    overflow: hidden;
}
.height-100{
    height: 100%;
}
.md-primary,
.md-warn{
    color:#fff !important;
}
input[type="checkbox"]{
    width: 22px;
    height: 22px;
}
.form-input-group{
    margin-bottom:15px
}
.form-input {
  display: block;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-input::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-input:-ms-input-placeholder {
  color: #999;
}
.form-input::-webkit-input-placeholder {
  color: #999;
}
.form-input::-ms-expand {
  background-color: transparent;
  border: 0;
}
.form-input[disabled],
.form-input[readonly],
fieldset[disabled] .form-input {
  background-color: #eee;
  opacity: 1;
}
.form-input[disabled],
fieldset[disabled] .form-input {
  cursor: not-allowed;
}
textarea.form-input {
  height: auto;
}
.inline-group span,
.inline-group .form-input{
    margin-top: 5px;
    display: inline;
}

.form-input.w-10{
    width: 10%;
}
.form-input.w-20{
    width: 20%;
}
.form-input.w-30{
    width: 30%;
}
.form-input.w-40{
    width: 40%;
}
.form-input.w-50{
    width: 50%;
}
.form-input.w-60{
    width: 60%;
}
.form-input.w-70{
    width: 70%;
}
.form-input.w-80{
    width: 80%;
}
.form-input.w-90{
    width: 90%;
}
.form-input.w-100{
    width: 100%;
}